<div class="compDiv">
  <h2>Card Component</h2>
  <h3>{{ title }}</h3>
  <h3>{{num}}</h3>
  <pre>{{ obj | json }}</pre>
  <p class="card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse, iusto.</p>

  <div>{{ info()}}</div>
  <!-- <div>
    <img class="img" src="{{url}}" alt="urubaoris">
  </div> -->
  <div>
    <img class="img" [src]="url">
    <button [disabled]='boolDis'> Send </button>
  </div>


  <div>
    <button (click)='changeTitle()'> Change Title </button>
    <button (click)="title ='Title Changes Olaa' ">Change title line</button>
  </div>

  <!--
  <h1>{{ title }}</h1>
  <div>
    <input type="text" #myInput (input)="inputHandler(myInput.value)" [value]='title'>
  </div> -->

  <div>
    <input type="text" [(ngModel)]="title" (ngModelChange)="chHandler()">
  </div>
</div>
