.form {
  margin-top: 2%;
  border: 1px solid gray;
  justify-content: center;
  align-items: center;
  display: flex;
}

.input {
  padding: 2%;
  font-weight: 900;
  color: black;
}

.h2 {
  font-size: 25px;
  border-bottom: 2px solid red;
}
